footer {visibility: hidden;}
#MainMenu {visibility: hidden;}

div[class*="stNumberInput"] input {
  font-size: 14px;
  color: white;
  font-family: "Arial";
  font-weight: bold;
}

div[class*="markdown-text-container stText"] {
  color: red;
}

/*Seitenrahmen*/
div.css-18e3th9 {
                    padding-top: 0rem;
                    padding-bottom: 0rem;
                    padding-left: 5rem;
                    padding-right: 0rem;
                }

/*Textfelder*/
div.css-183lzff.eyqtai90 {
                    font-family: "Arial";
                    font-weight: bold;
                    font-size: 16px;
}